doctype html
html
	head
		title Aaron and Brittney
		link(rel="stylesheet" type="text/css" href="/client/css/lib/styles.css")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")

	body
		script(src="/client/js/lib/bundle.js")
		script.
			var brittneyBio = document.getElementById('brittneyBio');
			var aaronBio = document.getElementById('aaronBio');
			var moreBio1 = document.getElementById('moreBio1');
			var moreBio2 = document.getElementById('moreBio2');
			var close = document.getElementById('close');
			brittneyBio.addEventListener('click', function() {moreBio1.style.visibility = (moreBio1.style.visibility === "visible") ? "hidden" :"visible";});
			brittneyClose.addEventListener('click', function() {moreBio1.style.visibility = (moreBio1.style.visibility === "visible") ? "hidden" :"visible";});

			aaronBio.addEventListener('click', function() {moreBio2.style.visibility = (moreBio2.style.visibility === "visible") ? "hidden" :"visible";});
			aaronClose.addEventListener('click', function() {moreBio2.style.visibility = (moreBio2.style.visibility === "visible") ? "hidden" :"visible";});