// Colors
darkNavy = #2B3742
teal = #029DA1
gray = #AAABAD
peach = #F9933F
pink = #F5888D
tangerine = #FF7902
lime = #0A8E50
lemon = #FEE404

.overlay
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.6)
    opacity: 0
    transition: all 0.5s ease-out
    -webkit-transition: all 0.5s ease-out
    -moz-transition: all 0.5s ease-out

.overlay:hover
	opacity: 1

.overlay h1
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	color: #fff
	height: 100%
	width: 100%
	
.bio-overlay-closed, .bio-overlay-opened
	position: fixed
	left: 0px
	top: 0px
	text-align: center
	background-color: rgba(0 0 0 0.7)
	transition: all 0.3s ease
	-webkit-transition: all 0.3s ease
	-moz-transition: all 0.3s ease
	-webkit-transform: translate3d(0,0,0)

.bio-overlay-closed
	visibility: hidden
	width: 0
	height: 0

.bio-overlay-opened
	visibility: visible
	z-index: 1000
	width: 100%
	height: 100%

.modal
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	height: 100%
	width: 100%

.modal-text
	display: block
	color: darkNavy
	background-color: #fafafa
	overflow-y: scroll
	padding: 15px

.modal-x
	float: left
	height: 20px
	width: 20px
	cursor: pointer

.modal h1
	font-size: 20px
	font-weight: 500
	text-align: center

.modal p
	font-size: 16px
	font-weight: 300
	text-align: left
	line-height: 20px
	padding: 10px

.hero-wrapper
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: flex-start
	-webkit-justify-content: flex-start
	-ms-justify-content: flex-start
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	width: 100%
	background-color: gray
	color: #fff
	padding-top: 66px
	position: fixed
	z-index: 10
	
.hero-item
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto
	position: relative
	background-color: #fff
	
.hero-wrapper img
	height 100%
	width 100%
	
// .hero-wrapper
// 	display: flex
// 	display: -webkit-flex
// 	display: -ms-flex
// 	flex-flow: column wrap
// 	-webkit-flex-flow: column wrap
// 	-ms-flex-flow: column wrap
// 	justify-content: flex-start
// 	-webkit-justify-content: flex-start
// 	-ms-justify-content: flex-start
// 	align-content: center
// 	-webkit-align-content: center
// 	-ms-align-content: center
// 	align-items: center
// 	-webkit-align-items: center
// 	-ms-align-items: center
// 	width: 100%
// 	height: 450px
// 	background-color: gray
// 	color: #fff
// 	padding-top: 66px
// 	position: fixed
// 	z-index: 10

.hero-content
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	width: 100%
	color: #fff
	position: absolute
	top: 50%
	z-index: 10

.hero-content h1
	padding: 3px
	font-size: 30px
	color: #fff

.hero-content h2
	padding: 3px
	font-size: 25px
	color: #fff

.hero-content p
	width 150px
	height 15px
	font-size 15px
	color #fff
	text-align left
	margin 25px

.main-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	overflow: hidden
	-webkit-transform: translate3d(0,0,0)
	-webkit-backface-visibility: hidden
	-webkit-perspective: 1000
	background-color: #fafafa
	z-index: 10
	position relative

.timer-container, .timer-wrapper
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row nowrap
	-webkit-flex-flow: row nowrap
	-ms-flex-flow: row nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	align-self: center
	-webkit-align-self: center
	-ms-align-self: center
	height: 175px

.timer-container
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap	
	padding: 25px
	
.timer
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	margin: 1px
	
.timer-days
	height: 50px
	width: 84px
	background-color: darkNavy

.timer-hours
	height: 50px
	width: 84px
	background-color: gray

.timer-minutes
	height: 50px
	width: 84px
	background-color: darkNavy

.timer-seconds
	height: 50px
	width: 84px
	background-color: gray
	
.timer h2
	padding: 15px 10px
	color: #fff
	font-size: 20px
	font-weight: 200

.timer p
	padding: 0px 10px
	color: darkNavy

.button
	width: 180px
	height: 45px
	color: #fff
	background-color: darkNavy
	transition: background-color 0.5s ease
	cursor: pointer
	border: 1px solid #fff
	align-self: center
	-ms-align-self: center
	-webkit-align-self: center

.button:hover
	background-color: #fff
	color: darkNavy
	border: 1px solid darkNavy

@media only screen and (min-width: 800px)
	.hero-wrapper
		padding-top 0px
		top -50px
		// height: 600px
		max-width 1600px
	.hero-wrapper h1
		font-size: 40px
	.hero-wrapper h2
		font-size: 35px
	.main-section
		max-width: 100%
	.modal
		width: 90%
		margin: auto
	.button
		width: 150px
		height: 40px
