// Colors
darkNavy = #2B3742
teal = #029DA1
lightMustard = #FDD43E
gray = #AAABAD

.text-row
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-ms-flex-flow: row wrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	border-bottom: 1px solid gray
	border-top: 1px solid gray

.map
	height: 400px
	width: 100%

.location-list
	background-color: #832C62
	width: 100%

.location-list-items
	color: #fafafafa
	font-family: serif
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 0
	-webkit-flex-basis: 0
	-ms-flex-basis: 0

.drop-shadow
	-moz-box-shadow: inset 0 8px 8px -8px #000000,
	inset 0 -8px 8px -8px #000000
	-webkit-box-shadow: inset 0 8px 8px -8px #000000,
	inset 0 -8px 8px -8px #000000
	box-shadow: inset 0 8px 8px -8px #000000,
	inset 0 -8px 8px -8px #000000