.boulder-hero
	background-image: url("../../../client/img/boulder.jpg")

.boulder-hero-section h1
	margin-bottom: 10px
	font-size: 25px

.boulder-hero-section p
	margin-bottom: 10px

.main-border-boulder-info
	border-top: 4px solid lime

.step-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch

.step-section h1
	color: darkNavy
	font-size: 35px
	font-weight: 400
	padding: 15px

.steps
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto

.steps h2
	color: darkNavy
	font-size: 25px
	font-weight: 400

.steps p
	color: darkNavy
	font-weight: 200
	font-size: 15px
	text-align: left
	padding: 0px 25px 10px 13px
	line-height: 20px

.steps img
	height: 100px
	width: 50px
	color: darkNavy

.weather-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch

.weatherIframe
	height: 245px
	width: 75%