.boulder-hero
	// background-image: 
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 40%, rgba(0, 0, 0, 0.9)), url("../../../client/img/boulder.jpg")
	background-position: center
	background-size: cover

.boulder-hero-section h1
	margin-bottom: 10px
	font-size: 25px

.boulder-hero-section p
	margin-bottom: 10px

.main-border-boulder-info
	border-top: 4px solid lime

.step-section, .step
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto

.step-section h1
	color: darkNavy
	font-size: 35px
	font-weight: 400

.step-section h2
	color: darkNavy
	font-size: 25px
	font-weight: 400
	display: -webkit-flex
	align-self: center
	-webkit-align-self: center
	-ms-align-self: center

.step-section p
	color: darkNavy
	font-weight: 200
	font-size: 15px

.step-section img
	height: 100px
	width: 50px
	color: darkNavy
	display: flex
	display: -webkit-flex
	align-self: center
	-webkit-align-self: center
	-ms-align-self: center
	
.step-left, .step-right
	color: darkNavy
	text-align: center
	padding: 15px
	line-height: 20px

.step-button
	width: 125px
	height: 50px
	color: #fff
	background-color: darkNavy
	transition: background-color 0.5s ease
	cursor: pointer
	border: 1px solid #fff
	border-radius: 5%

.step-button:hover
	background-color: #fff
	color: darkNavy
	border: 1px solid darkNavy

.weather-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch

.weatherIframe
	height: 245px
	width: 75%

@media only screen and (min-width: 800px)
	.step
		flex-flow: row nowrap
		-webkit-flex-flow: row nowrap
		-ms-flex-flow: row nowrap