.boulder-hero
	// background-image: 
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0.9)), url("../../../client/img/boulder.jpg")
	background-position: center
	background-size: cover

.boulder-hero-section h1
	margin-bottom: 10px
	font-size: 25px

.boulder-hero-section p
	margin-bottom: 10px

.main-border-boulder-info
	border-top: 4px solid lime

.step-section, .step
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center

.step
	border-top: 1px solid darkNavy
	padding: 28px 0px 4px 0px

.step-section h2
	color: darkNavy
	font-size: 25px
	font-weight: 400
	display: -webkit-flex
	align-self: center
	-webkit-align-self: center
	-ms-align-self: center
	padding: 15px

.step-section p
	color: darkNavy
	font-weight: 200
	font-size: 15px
	text-align: justify
	padding-bottom: 15px

.step-section img
	height: 100px
	width: 50px
	color: darkNavy !important
	display: flex
	display: -webkit-flex
	align-self: center
	-webkit-align-self: center
	-ms-align-self: center
	margin-bottom: 15px
	
.step-left, .step-right
	color: darkNavy
	padding: 15px 25px
	line-height: 20px
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap

.weatherIframe
	height: 245px
	width: 100%
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row nowrap
	-webkit-flex-flow: row nowrap
	-ms-flex-flow: row nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center

@media only screen and (min-width: 800px)
	.step-right
		flex-flow: row wrap
		-webkit-flex-flow: row wrap
		-ms-flex-flow: row wrap