*
	box-sizing border-box
html
	height:100%
	/* mobile momentum scrolling */
	overflow-y: scroll /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch
body
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight normal
	height 100%
	margin 0
	padding 0

main
	width: 100%
	position: relative
	z-index: 90
	top: 400px
	background-color: #fff
h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	text-align: center

h1
	font-size: 25px
	font-weight: 300

h2
	font-size: 20px

ul,
ol
	margin 0
	padding-left 0

li
	list-style none

a,
p,
button,
input
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-decoration: none
	outline: none

a
	outline none
	text-decoration none
	border 0
	img
		outline none
		 border: 0
p
	margin 0
	text-align: center
hr
	border none

img
	outline none

input
	outline none

@media only screen and (min-width: 769px)
	main
		top: 500px
	footer
		max-width: 1280px
		margin 0 auto
	// body, html
	// 	margin 0 auto
	// 	background-color: #fafafafa