.footer-col-1
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	background-color: darkNavy

.col-1-left
	flex-grow: 2
	-webkit-flex-grow: 2
	-ms-flex-flow: 2
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 200px
	-webkit-flex-basis: 200px
	-ms-flex-basis: 200px
	color: #fff
	padding: 15px

.col-1-right
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 80px
	-webkit-flex-basis: 80px
	-ms-flex-basis: 80px
	color: #fff
	padding: 15px

.footer-col-2
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	background-color: darkNavy

.col-2-item
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 80px
	-webkit-flex-basis: 80px
	-ms-flex-basis: 80px
	color: #fff
	padding: 15px

.footer-col-3
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	background-color: darkNavy

.col-3-item
	flex-grow: 2
	-webkit-flex-grow: 2
	-ms-flex-flow: 2
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 200px
	-webkit-flex-basis: 200px
	-ms-flex-basis: 200px
	color: #fff
	padding: 15px
	
.footer-col-3 p
	margin: 0
	padding: 5px
	font-size: 13px
	
.col-1-left
	border-bottom: 1px solid gray

.col-3-item
	border-top: 1px solid gray
	flex-basis: 80px
	-webkit-flex-basis: 80px
	-ms-flex-basis: 80px

.button
	width: 150px
	height: 50px
	color: teal
	background-color: #fff
	transition: background-color 0.5s ease
	cursor: pointer
	border: 1px solid gray
	border-radius: 5%
	text-decortation: none

.button:hover
	color: #fff
	background-color: teal

@media only screen and (min-width: 769px)
	.footer-col-1, .footer-col-2, .footer-col-3
		flex-flow: row wrap
		-webkit-flex-flow: row wrap
		-ms-flex-flow: row wrap
	.col-1-left
		border-right: 1px solid gray
	.footer-col-1
		border-bottom: 1px solid gray
		