.home-hero
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0.9)), url("../../../client/img/home-hero.jpg")
	background-position: center
	background-size: cover

.hero-section h1
	margin-bottom: 10px
	font-size: 25px

.hero-section p
	margin-bottom: 10px

.main-border-home
	border-top: 4px solid lemon
    
.about-us
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-ms-flex-flow: row wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: stretch
	-webkit-align-content: stretch
	-ms-align-content: stretch
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	background-color: #fff
	color: darkNavy
	border-top: 1px solid darkNavy
	border-bottom: 1px solid darkNavy 

.about-us-item
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: 400px
	-webkit-flex-basis: 400px
	-ms-flex-basis: 400px
	position: relative

.about-us-text
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	padding: 15px 5px 25px 5px
		
.about-us img
	width: 100%
	height: 100%

.about-us h1
	padding: 15px 13px 15px 20px
	
.about-us p
	padding: 0px 20px 5px 20px
	line-height: 30px
	text-align: center

.about-us .modal p
	text-align: left
	padding: 15px 20px 5px 20px

.about-us .modal h1
	padding: 0px 15px
	
.how-we-met
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	background-color: #fff
	color: darkNavy

.how-we-met img
	width: 100%
	height: 100%
	position: relative

.how-we-met h1
	padding: 15px 13px 15px 20px
	text-align: center
	width: 100%

.how-we-met p
	text-align: center
	padding: 10px 40px 10px 40px
	line-height: 30px

@media only screen and (min-width: 802px)
	.about-us p
		padding: 0px 40px 5px 40px
	.how-we-met p
		padding: 15px 100px 30px 100px
	#aaron div:nth-child(1)
		order: 2
		-webkit-order: 2
		-ms-flex-order: 2
	#aaron div:nth-child(2)
		order: 1
		-webkit-order: 1
		-ms-flex-order: 1
	.hero-section h1
		margin-bottom: 10px
		font-size: 75px
		
	.how-we-met h1
		padding: 30px 13px 15px 20px
	