.home-hero
	background-image: url("../../../client/img/home-hero.jpg")

.hero-section h1
	margin-bottom: 10px
	font-size: 25px

.hero-section p
	margin-bottom: 10px

.main-border-home
	border-top: 4px solid lemon
    
.about-us
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-ms-flex-flow: row wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: stretch
	-webkit-align-content: stretch
	-ms-align-content: stretch
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	background-color: #fff
	color: darkNavy

.about-us-item
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: 400px
	-webkit-flex-basis: 400px
	-ms-flex-basis: 400px

.about-us img
	width: 100%
	height: 100%

.about-us h1
	text-align: left
	padding: 15px 13px 15px 20px
	
.about-us p
	text-align: left
	padding: 0px 25px 10px 13px
	border-left: 11px solid darkNavy
	line-height: 30px

.how-we-met
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-ms-flex-flow: row wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	background-color: #fff
	color: darkNavy

.how-we-met img
	width: 100%
	height: 100%

.how-we-met h1
	padding: 15px 13px 15px 20px
	text-align: center
	width: 100%

.how-we-met p
	text-align: left
	padding: 10px 40px 10px 40px
	line-height: 30px

@media only screen and (min-width: 802px)
	.about-us h1 p
		padding: 25px
	.how-we-met p
		padding: 15px 80px 15px 80px
	#aaron div:nth-child(1)
		order: 2
		-webkit-order: 2
		-ms-flex-order: 2
	#aaron div:nth-child(2)
		order: 1
		-webkit-order: 1
		-ms-flex-order: 1
	.hero-section h1
		margin-bottom: 10px
		font-size: 75px

@media only screen and (min-width: 802px) and (max-width: 950px)
	.about-us-text
		overflow-y: scroll
		max-height: 400px

@media only screen and (min-width: 951px)
	.about-us-text
		overflow-y: scroll
		max-height: 500px
@media only screen and (min-width: 1280px)
	.about-us-text
		overflow-y: scroll
		max-height: 640px