.home-hero
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0.9)), url("../../../client/img/home.jpg")
	background-position: center
	background-size: cover

.main-border-home
	border-top: 4px solid lemon
    
.about-us
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	background-color: #fafafa
	color: darkNavy

.how-we-met
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	background-color: #fafafa
	color: darkNavy

.about-us-item, .how-we-met-img
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto
	position: relative
	background-color: #fff

.about-us-text
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	padding: 25px 0px 25px 0px
	width: 100%
		
.about-us img
	width: 100%
	height: 100%

.about-us h1
	padding: 0px 15px 10px 15px
	font-size: 25px
	
.about-us p
	padding: 0px 18px 20px 18px
	line-height: 25px
	font-size: 15px

.about-us .modal p
	text-align: left
	padding: 15px 20px 5px 20px

.about-us .modal h1
	padding: 0px 15px

.how-we-met img
	width: 100%
	height: 100%
	position: relative
	
.how-we-met h1
	padding: 0px 20px 0px 20px
	text-align: center
	width: 100%
	font-size: 25px

.how-we-met p
	text-align: center
	padding: 10px 40px 10px 40px
	line-height: 30px
	font-size: 15px

@media only screen and (min-width: 800px)
	.about-us
		flex-flow: row nowrap
		-webkit-flex-flow: row nowrap
		-ms-flex-flow: row nowrap
		border-top: 1px solid darkNavy
		border-bottom: 1px solid darkNavy 
	.about-us-item
		width: 50%
	.about-us p
		padding: 0px 40px 5px 40px
	.how-we-met p
		padding: 15px 100px 30px 100px
	#aaron div:nth-child(1)
		order: 2
		-webkit-order: 2
		-ms-flex-order: 2
	#aaron div:nth-child(2)
		order: 1
		-webkit-order: 1
		-ms-flex-order: 1