.desktop-nav
	display: none

.mobile-menu
	display: flex
	display: -webkit-flex
	display: -ms-flex
	
.mobile-header
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row nowrap
	-webkit-flex-flow: row nowrap
	-ms-flex-flow: row nowrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch
	background-color: white
	width: 100%
	position: fixed
	z-index: 100
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)
	-moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)

.mobile-header-item
	margin: 25px 0px 25px 0px
	color: darkNavy
	font-weight: 300
	font-size: 22px
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 0
	-webkit-flex-basis: 0
	-ms-flex-basis: 0

.menu-closed
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	overflow: hidden
	height: 60%
	position: fixed
	top: 77px
	opacity: 0.98
	background-color: darkNavy
	transition: 0.5s ease
	width: 0%
	z-index: 200
	
.menu-opened
	width: 100%
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: space-around
	-webkit-justify-content: space-around
	-ms-justify-content: space-around
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	overflow: hidden
	height: 60%
	position: fixed
	top: 77px
	opacity: 0.98
	background-color: darkNavy
	transition: 0.5s ease
	z-index: 200

.slide-out-item
	margin: 25px 0px 25px 0px
	color: #fff
	font-weight: 300
	font-size: 22px
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 0
	-webkit-flex-basis: 0
	-ms-flex-basis: 0

@media only screen and (min-width: 800px)
	.mobile-menu
		display: none
	
	.desktop-nav
		display: flex
		display: -webkit-flex
		display: -ms-flex
		flex-flow: row wrap
		-webkit-flex-flow: row wrap
		-ms-flex-flow: row wrap
		justify-content: space-around
		-webkit-justify-content: space-around
		-ms-justify-content: space-around
		align-content: center
		-webkit-align-content: center
		-ms-align-content: center
		align-items: stretch
		-webkit-align-items: stretch
		-ms-align-items: stretch
		background-color: white
		width: 100%
		position: fixed
		z-index: 100
		-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)
		-moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)
		box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49)
	
	// .active-route div:nth-child(1)
	// 	color: tangerine
	
	// .active-route div:nth-child(2)
	// 	color: lime
	
	// .active-route div:nth-child(3)
	// 	color: lemon
	
	// .active-route div:nth-child(4)
	// 	color: peach
	
	// .active-route div:nth-child(5)
	// 	color: pink
	
	.header-item
		margin: 25px 0px 25px 0px
		color: darkNavy
		font-weight: 300
		font-size: 22px
		display: flex
		display: -webkit-flex
		display: -ms-flex
		justify-content: center
		-webkit-justify-content: center
		-ms-justify-content: center
		cursor: pointer

	.active-route
		color: darkNavy
		border-bottom: 4px solid darkNavy
		transition: border-bottom 0.9s ease
		
