.rsvp-hero
	// background-image: url("../../../client/rsvp-hero.jpg")
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 30%, rgba(0, 0, 0, 0.9)), url("../../../client/rsvp-hero.jpg")
	background-position: center
	background-size: cover

.main-border-rsvp
	border-top: 4px solid peach