html, body
	height: 100%
	margin: 0
	padding: 0
	
.container
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-ms-flex-flow: row wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: stretch
	-webkit-align-items: stretch
	-ms-align-items: stretch

.header
	background-color: #3B6888
	width: 100%

.header-item
	margin: 25px 0px 25px 0px
	font-family: serif
	color: #fafafafa
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 0
	-webkit-flex-basis: 0
	-ms-flex-basis: 0

.map
	height: 400px
	width: 100%

.location-list
	background-color: #832C62
	width: 100%

.location-list-items
	color: #fafafafa
	font-family: serif
	color: #fafafafa
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 0
	-webkit-flex-shrink: 0
	-ms-flex-shrink: 0
	flex-basis: 0
	-webkit-flex-basis: 0
	-ms-flex-basis: 0