.weather-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center

.weather-item
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto
	width: 100%

.weather-item h2
	padding: 10px
	color: darkNavy

.weather-item p
	padding: 10px
	color: darkNavy

.forecastio-iframe
	frameborder: 0
	height: 245px
	width: 100%

@media only screen and (min-width: 800px)
	.weather-section
		flex-flow: row nowrap
		-webkit-flex-flow: row nowrap
		-ms-flex-flow: row nowrap