.wedding-hero
	background-image url("../../../client/img/wedding.jpg")
	// background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0.9)), url("../../../client/img/wedding.jpg")
	background-position: center
	background-size: cover

.main-border-wedding-details
	border-top: 1px solid darkNavy

.info-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center

.info-section h1
	padding: 10px 0px 0px 0px
	font-size: 18px

.info-section p
	padding-top 15px
	padding-bottom 15px
	font-size: 12px
	text-align: center
	border-bottom: 1px solid darkNavy

// .info-section:nth-child(1)
// 	border-bottom none
.border-none
	border-bottom: none !important
	
.padding-small
	padding-bottom 5px !important

.padding-small2
	padding-top 5px !important
	
.info-item
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-grow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: 400px
	-webkit-flex-basis: 400px
	-ms-flex-basis: 400px

.details
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	padding 25px
	
.text-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	width 100%
	border-top 1px solid darkNavy

.text-section h1
	font-size 40px
	padding 20px

.about-party
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	padding: 15px 10px 15px 10px
	width: 100%

.about-party-item
	width 100%
	
.about-party h1
	padding: 0px 15px 30px 15px
	font-size 40px
	letter-spacing 2px
	
.about-party p
	padding: 0px 15px 5px 15px
	text-align: left
	width 100%
	font-size 17px
	
.about-party p:nth-child(1)
		font-weight 600

@media only screen and (min-width: 800px)
	.info-section h1
		font-size: 18px

	.info-section h2
		font-size: 16px
		
	.info-section p
		font-size: 14px
		
	.info-section
		flex-flow: row nowrap
		-webkit-flex-flow: row nowrap
		-ms-flex-flow: row nowrap
		
	.details
		display: flex
		display: -webkit-flex
		display: -ms-flex
		flex-flow: column nowrap
		-webkit-flex-flow: column nowrap
		-ms-flex-flow: column nowrap
		justify-content: flex-start
		-webkit-justify-content: flex-start
		-ms-justify-content: flex-start
		align-content: center
		-webkit-align-content: center
		-ms-align-content: center
		align-items: stretch
		-webkit-align-items: stretch
		-ms-align-items: stretch
	#even #two:nth-child(1)
		order: 2
		-webkit-order: 2
		-ms-flex-order: 2
	#even #one:nth-child(2)
		order: 1
		-webkit-order: 1
		-ms-flex-order: 1