.wedding-hero
	background-image: url("../../../client/img/wedding.jpg")
	border-bottom: 4px solid tangerine

.wedding-hero-section h1
	margin-bottom: 10px
	font-size: 25px

.wedding-hero-section p
	margin-bottom: 10px