.wedding-hero
	background-image: url("../../../client/img/wedding.jpg")

.wedding-hero-section h1
	margin-bottom: 10px
	font-size: 25px

.wedding-hero-section p
	margin-bottom: 10px

.main-border-wedding-details
	border-top: 4px solid tangerine