*
	box-sizing border-box
html
	height:100%
	/* mobile momentum scrolling */
	overflow: scroll /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch
	
body
	font-family: Helvetica Neue, sans-serif;
	font-weight normal
	height 100%
	margin 0
	padding 0

main
	width: 100%
	position: relative
	z-index: 90
	// top: 450px
	background-color: #fafafa

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	text-align: center
	font-weight: 300
	color: #2B3742

ul,
ol
	margin 0
	padding-left 0

li
	list-style none

a,
p,
button,
input
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-decoration: none
	outline: none

a
	outline none
	text-decoration none
	border 0
	cursor: pointer
	img
		outline none
		 border: 0
p
	margin 0
	text-align: center
	color: #2B3742
hr
	border none

img
	outline none

input
	outline none

@media only screen and (min-width: 800px)
	body
		max-width 1600px
		margin auto
	// main
	// 	top: 600px
	footer
		max-width: 100%