.footer-col-3
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column wrap
	-webkit-flex-flow: column wrap
	-ms-flex-flow: column wrap
	justify-content: space-between
	-webkit-justify-content: space-between
	-ms-justify-content: space-between
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	background-color: #fff

.col-3-item
	width: 100%
	flex-grow: 1
	-webkit-flex-grow: 1
	-ms-flex-flow: 1
	flex-shrink: 1
	-webkit-flex-shrink: 1
	-ms-flex-shrink: 1
	flex-basis: auto
	-webkit-flex-basis: auto
	-ms-flex-basis: auto
	color: gray
	padding: 15px
	border-top: 1px solid gray
	text-align: center
	font-size: 13px

.footer-button
	width: 150px
	height: 50px
	color: darkNavy
	background-color: #fff
	transition: background-color 0.5s ease
	cursor: pointer
	border: 1px solid #fff

.footer-button:hover
	color: #fff
	background-color: darkNavy
	border: 1px solid #fff

@media only screen and (min-width: 769px)
	.footer-col-1, .footer-col-2, .footer-col-3
		flex-flow: row nowrap
		-webkit-flex-flow: row nowrap
		-ms-flex-flow: row nowrap
	.col-1-left
		border-right: 1px solid gray
		border-bottom: 0px
	.footer-col-1
		border-bottom: 1px solid gray
	.col-2-item
		display: flex
		display: -webkit-flex
		display: -ms-flex
		justify-content: center
		-webkit-justify-content: center
		-ms-justify-content: center
		
		