.main-border-wedding-details
	border-top: 1px solid darkNavy

.info-section
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-content: center
	align-items: center
	padding-bottom 50px

.info-section h1
	padding: 15px 0px 15px 0px
	font-size: 25px
	text-align center
	line-height 35px
	font-family Helvetica Neue, Bold, sans-serif

.info-section p
	margin-left 5px
	padding 10px 0px 10px 10px
	font-size: 15px
	line-height 25px
	text-align: center
	
.info-section a
	margin-left 5px
	padding 10px 0px 10px 10px
	font-size: 15px
	line-height 25px
	text-align: center

.info-item-1
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-content: center
	align-items: center
	width 90%

.farm-img
	width 100%
	margin-top 50px
	align-self flex-start
	img
		max-width none
		width 100%

.info-item-2
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-content: center
	align-items: center
	width 90%
	
.text-section
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	width 100%
	padding 25px
	
.text-section h1
	padding: 15px 0px 15px 0px
	font-size: 25px
	text-align left
	line-height 35px
	font-family Helvetica Neue, Bold, sans-serif

.about-party-section
	display flex
	flex-flow column nowrap
	border-bottom 1px solid darkNavy

.about-item
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	align-content center
	width 100%
	position relative 
	img
		width 100%
	
.about-party
	display: flex
	display: -webkit-flex
	display: -ms-flex
	flex-flow: column nowrap
	-webkit-flex-flow: column nowrap
	-ms-flex-flow: column nowrap
	justify-content: center
	-webkit-justify-content: center
	-ms-justify-content: center
	align-content: center
	-webkit-align-content: center
	-ms-align-content: center
	align-items: center
	-webkit-align-items: center
	-ms-align-items: center
	padding: 15px 10px 15px 10px
	width: 100%

.about-party-item
	width 100%
	
.about-party h1
	padding: 0px 15px 30px 15px
	font-size 25px
	letter-spacing 1px
	
.about-party p
	padding: 0px 15px 5px 15px
	text-align: left
	width 100%
	font-size 15px
	font-family Helvetica Neue, Thin, sans-serif
	
.about-party p:nth-child(1)
	font-weight 600
.about-party p:nth-child(2)
	margin-left 5px

@media only screen and (min-width: 800px)
	.about-party-section
		flex-flow row nowrap
	
	.about-item
		width 50%
		img
			width 100%
	
	.about-party
		width 90%
			
	.info-item-1
		width 60%
		margin-top 35px
	
	.info-item-2
		width 60%
		margin-top 35px
	.farm-img
		width 50%
		align-self center
		
	#even #two:nth-child(1)
		order: 2
		-webkit-order: 2
		-ms-flex-order: 2
	#even #one:nth-child(2)
		order: 1
		-webkit-order: 1
		-ms-flex-order: 1
	.about-party h1
		padding: 0px 15px 30px 15px
		font-size 35px
		letter-spacing 2px